@import 'utilities.css';

:root{
    --primary:#3da8d3;
    --dark:#161616;
    --pure:#FFFFFF;
    --secondary:#898989;
    --light:#F2F2F2;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-font-smotthing:antialised;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background: var(--dark);
    height: 650px;
    clip-path: polygon(0 0,100% 0,100% 100%,60% 80%,0 100%);
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
header nav .logo{
    margin-right: 3rem;
    font-size: 1.8rem;
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
.hero{
    padding: 3rem 0;
}
.hero img{
    width: 200px;
}
.hero .right{
    /* width: 50%; */
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.2rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
    text-decoration: underline;
}
.hero .right h1{
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1.3;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -3rem;
}

section{
    padding: 6rem 0;
}

.about-me-img{
    width: 50%;
}
section.about h1{
    margin-bottom: 1rem ;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    margin-bottom: 1rem ;
    font-size: 1rem;
    font-weight: 400;
}
section.about p{
    font: 'Lato',sans-serif;
    line-height: 1.8;
}
section.about .social{
    display: flex;
    
}
section.about .social{
    display: flex;
    
}

.fab{
    margin-right: 0.5rem;
    font-size: 2rem;
    color: rgb(4, 53, 77);
}
.fab:hover{
    color: var(--dark);
}
.cards{
    display: flex;
}

.section-heading{
    color: (var(--dark));
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p {
    color: var(--primary);
    font-family: 'Lato' sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}
.card-img{
    height: 100px;
    width: 100px;
}
section.services{
    background: var(--light);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    padding-top: 5rem;
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all .3s ease-in-out;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%)
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato' , sans-serif;
    color: var(--secondary);
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
} 
section.services .card-wrapper .card:hover h2,section.services .card-wrapper .card:hover p{
    color: var(--pure);
}

section.work{
    background: var(--light);
    /* padding: 20%; */
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-gap: 2rem; */
    padding: 50px;
    
}
section.work .card-wrapper .card{
    position: relative;
    height: 90%;
    width: 90%;
    left: 30px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 243, 247, 0.651);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: var(--dark);
}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}
section.work .card-wrapper img{
    height: 100%;
    width: 100%;
}

section.blog{
    background: var(--dark);
    padding-bottom: 20rem;
    clip-path: polygon(0 0,100% 0,100% 100%,65% 80%,0 100%);
}
section.blog .section-heading{
    color: var(--pure);
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
}
section.blog .card-wrapper .img-wrapper{
    /* width: 50%;
    height: 50%; */
    object-fit: cover;
}
section.blog .card-wrapper .img-wrapper img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
section.blog .card-wrapper .card .card-content{
    padding: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content span{
   color: var(--secondary);
   font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
   color: var(--dark);
   margin-top: 1rem;
   margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a{
   color: var(--primary);
  text-decoration: none;
}